<div class="container mt-5">
  <form action="">
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" name="nombre" class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Correo</label>
      <input type="text" name="correo" class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="text" name="password" class="form-control" />
    </div>

    <button class="btn btn-primary mt-2">Agregar</button>
  </form>
</div>
