<div class="container mt-5">
  <form [formGroup]="formularioCreado">
    <div class="form-group">
      <label for="">Nombre</label>
      <input
        type="text"
        name="nombre"
        class="form-control"
        formControlName="nombre"
      />
      <div
        *ngIf="
          formularioCreado.controls['nombre'].invalid &&
          formularioCreado.controls['nombre'].dirty
        "
        class="alert alert-danger"
        role="alert"
      >
        <span *ngIf="formularioCreado.controls['nombre'].errors?.required">
          El nombre es requerido</span
        >
      </div>
    </div>
    <!-- dirty es para cuando nosotros empezamos a escribir un input -->
    <!-- {{formularioCreado.controls["nombre"].dirty}} -->

    <div class="form-group">
      <label for="">Correo</label>
      <input
        type="text"
        name="email"
        class="form-control"
        formControlName="email"
      />

      <!-- ss -->
      <div
        *ngIf="
          formularioCreado.controls['email'].invalid &&
          formularioCreado.controls['email'].dirty
        "
      >
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="formularioCreado.controls['email'].errors?.required"
        >
          El email es requerido
        </div>
        <!--  -->
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="formularioCreado.controls['email'].errors?.email"
        >
          Ingresa un email valido
        </div>
      </div>
      <!-- ss -->

    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input
        type="text"
        name="password"
        class="form-control"
        formControlName="password"
      />
      <div class="alert alert-danger" role="alert">Password is required</div>
      <div class="alert alert-danger" role="alert">
        Password debe tener minimo 8 caracteres
      </div>
    </div>

    <button
      [disabled]="!formularioCreado.valid"
      class="btn btn-primary mt-2"
      (click)="agregar()"
    >
      Agregar
    </button>
  </form>
</div>
<br />

<p>Es valido: {{ formularioCreado.valid }}</p>
<p>
  {{ formularioCreado.value | json }}
</p>
