<div class="container mt-5">
  <form action="">
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" name="nombre" class="form-control" [(ngModel)]="alumno.nombre"/>
    </div>
    <div class="form-group">
      <label for="">Apellido</label>
      <input type="text" name="apellido" class="form-control" [(ngModel)]="alumno.apellido" />
    </div>
    <div class="form-group">
      <label for="">Excelencia</label>
      <select name="sobresaliente" [(ngModel)]= "alumno.sobresaliente" class="form-control">
        <option value="false">no</option>
        <option value="true">si</option>
      </select>
    </div>

    <button class="btn btn-primary mt-5" (click)="agregar()">Agregar</button>
  </form>

<div class="card mt-3" *ngFor="let alumnoArray of listadoAlumnos">
  <div class="card-body">
    <span [ngClass]="{'sobresaliente': alumnoArray.sobresaliente}" >Nombre:</span> {{alumnoArray.nombre}}
    Apellido: {{alumnoArray.apellido}}
  </div>
</div>

</div>
