<!-- <h1>{{titulo}}</h1>

<!-- INTERPOLACION-->
<!-- <p> yo soy el alumno {{alumno.nombre}}, {{alumno.apellido}}</p> -->

<!-- Property binding son los [ ]-->
<!-- <img [src]="imagen" alt="">

<input type="text" [(ngModel)]="inputN">
<p>{{inputN}}</p> --> -->

<h1>log in fake</h1>
<label for="">
  Password
  <input type="text"  (ngModelChange)= "EscribirCorreo()"  [(ngModel)]="correo">
</label>
<label for="">
  Contraseña
  <input type="password" (ngModelChange)= "EscribirModelo()" [(ngModel)]= "password">
</label>
<br>
<button (dblclick)="ingresar()">Iniciar</button>
<button (dblclick)="llamarAlert()">Dos click</button>

<br>
<br>
<input type="text" (input)="escribir($event)">
<input type="text" (focus)="colorearfondo($event)">